<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a href="/"><h3 style="color: white; font-weight: bold; font-size: 1.5rem;">{{site.shorttitle}}</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Experiments</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/experiments/microboone.html">MicroBooNE</a>
                        <a class="dropdown-item" href="/experiments/minerva.html">MINERvA</a>
                        <a class="dropdown-item" href="/experiments/dayabay.html">Daya Bay</a>
                        <a class="dropdown-item" href="/experiments/icecube.html">IceCube</a>
                        <a class="dropdown-item" href="/experiments/nova.html">NOvA</a>
                        <a class="dropdown-item" href="/experiments/t2k.html">T2K</a>
                        <a class="dropdown-item" href="/experiments/dune.html">DUNE</a>
                    </div>
                </li>

                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Benchmark Datasets</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/experiments/pilarnet.html">PILArNet</a>
                        <a class="dropdown-item" href="/experiments/nubench.html">NuBench</a>
                    </div>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/about/overview">About</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
