<!doctype html>

{% include layout_header_navbar.html %}

    <div id="container">
      <div class="container">
        <main role="main">
          <h2>The CLARIPHY Collaboration</h2>
          <div class="presentation toppagelinks">
            <div class="inner">
              Team:
              <a href="/about/people_by_institution.html">by institution</a>
              &#8226;
              <a href="/about/people_alphabetical.html">by name</a>.
	    </div>
          </div><br>
          {{ content }}
        </main>
      </div>
      {% include footer.html %}
      {% include sub-footer.html %}
    </div>


  </body>
</html>
